header {
  background-color: #FFC338;
}

.navbar {
  margin-bottom: 0;
  background-color: #FFC338;
  border: none;
}

.jumbotron {
  height: 30vh;
  background-image: url('../images/cornfield_headerjpg.jpg');
  background-position: center center;
  background-size: cover;
}

.thumbnail {
  min-height: 480px;
}

footer {
  height: 50px;
  background-color: #FFC338;
  display: flex;
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

/*--Details Page--*/

.detail-section {
  display: flex;
  justify-content: space-evenly;
}

.sec-1, .sec-2 {
  width: 49%;
}

/*--Carousel--*/

.carousel-control {
  /*opacity: 0.1;*/
}


[hidden] {
  display: none !important;
}


/*--Media Queries--*/

@media (min-width: 1200px) {
  .thumbnail>img {
    width: 349px;
  }
}

@media (min-width: 992px) {
  .thumbnail>img {
    /*height: 250px;*/
  }
}

@media (min-width: 768px) {
  .thumbnail>img {
    height: 233px;
  }
}

@media (min-width: 767px) {

}

