body {
  /*background-image: url("../images/bg_img.jpg");
  background-size: cover;
  background-attachment: fixed;*/
}
header {
  background-color: #FFC338;
}



.main {
  min-height: 100vh;

}

.navbar {
  margin-bottom: 0;
  background-color: #FAB734;
  border: none;
}

.jumbotron {
  max-height: 40vh;
  background-image: url('../images/cornfield_headerjpg.jpg');
  background-position: center center;
  background-size: cover;
}

/*-------search-form---------*/
.search-title {
  display: flex;
  align-content: center;
}

.search_form .form-group {
  margin-bottom: 0 !important;
}



#staff_header {
  margin-bottom: 25px;
}

footer {
  margin-top: 25px;
  height: 50px;
  background-color: #FAB734;
  display: flex;
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

/*--Details Page--*/

.detail-section {
  display: flex;
  justify-content: space-evenly;
}

.sec-1, .sec-2 {
  width: 49%;
}

/*--Carousel--*/

.carousel-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-container h3 {
  margin-top: 0 !important;
}

.carousel-control {
  /*opacity: 0.1;*/
}
.carousel-inner>.item {
  background-color: #232E40;
}

.carousel-inner .thumbnail {
  border: none;
  border-radius: 0;
  height: 400px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
}

.carousel-inner .caption {
  color: #FAB734;
}

.carousel-inner .thumbnail img {
  visibility: hidden;
}




[hidden] {
  display: none !important;
}

/*--------nav-tabs------------*/
.nav-tabs>li.active>a {
  border-top-color: #FAB734 !important;
  color: #FAB734 !important;
}



.tab-pane {
  padding-top: 30px;
}


.tab-pane .thumbnail {
  min-height: 480px;
}

.tab-pane .thumbnail .description {
  min-height: 80px;
}


/*-------form-style----------*/
.content-container {
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  align-content: center;
}

.custom-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inline {
  width: 49%;
  padding-left: 0;
  padding-right: 0;
}





/*--Media Queries--*/

@media (min-width: 1200px) {
  .thumbnail>img {
    width: 349px;
  }
}

@media (min-width: 992px) {
  .thumbnail>img {
    /*height: 250px;*/
  }
}

@media (min-width: 768px) {
  .thumbnail>img {
    height: 233px;
  }

}

@media (min-width: 767px) {

}

